@import "tailwindcss";


/* Slide in (open) */
@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* Slide out (close) */
@keyframes slide-out {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

/* Animation classes */
.animate-slide-in {
  animation: slide-in 0.4s ease-out forwards;
}

.animate-slide-out {
  animation: slide-out 0.4s ease-in forwards;
}



