/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}



/* Navbar */
.main{
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  background-color: rgb(245, 236, 224);
}
.left img{
  width: 130px;
  height: 65px;
}
.mid{
  width: 500px;
}
.mid ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-top: 20px;
}
.mid ul li a{
  color: rgb(59, 59, 59);
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
}
.mid ul li a:hover{
  color: rgb(167, 73, 23);
  font-size: 20px;
  text-decoration: underline;
  transition: 0.2s;
}
.right{
  width: 120px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.right svg{
  cursor: pointer;
}


/* Home */
.back{
  background-image: url("/images/pic1.jpg");
  background-position: center;
  background-size: cover;
  background-color: black;
  width: 100%;
  height: 600px;
}
.back img{
  width: 100%;
}
.info{
  width: 550px;
  text-align: center;
  color: #725662;
  margin-left: 80px;
  padding-top: 180px;
}
.info h2{
  font-size: 35px;
  font-weight: 500;
  margin: 10px 0px;
}
.info h1{
  margin-bottom: 10px;
  font-size: 35px;
}
.info button{
  margin: 30px;
  color: white;
  background-color: #725662;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}


/* Cards */
.back h3{
  text-align: center;
  color: #725662;
  margin: 240px 0px 30px;
  font-size: 40px;
}
.options{
  display: flex;
  justify-content: center;
  align-items: center;

}
.options .btn1{
  background-color: #a29299;
  color: white;
  padding: 5px 12px;
  border-radius: 4px;
  margin-right: 50px;
  cursor: pointer;
}
.options .btn2{
  border: 1px solid #725662;
  padding: 5px 12px;
  border-radius: 4px;
  margin-right: 50px;
  cursor: pointer;
}
.cards{
  margin: 140px 70px 50px 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 25px;
}
.top{
  width: 220px;
  height: 250px;
  background-color: rgb(208, 204, 204);
  margin-top: 50px;
}
.top img{
  width: 210px;
  margin-top: 20px;
}
.bottom{
  margin-left: 5px;
}
.bottom h3{
  color: rgb(44, 44, 44);
  margin: 7px 0px;
}
.bottom p{
  font-size: 17px;
}
.bottom s{
  color: gray;
  margin-left: 8px;
}
.bottom button{
  padding: 6px 65px;
  background-color: #e4e3e3;
  border: none;
  margin-top: 10px;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
}
.bottom button:hover{
  color: white;
  background-color: #a29299;
  transition: 0.2s;
}

/* Explore */
.explore{
  display: flex;
  margin: 100px 120px 50px 120px;
  justify-content: space-between;
}
.bg h1{
  color: #644e58;
  text-align: end;
  margin: 40px 100px 10px;
}
.bg p{
  color: #644e58;
  text-align: end;
  margin: 0px 150px 10px;
}
.bg button{
  width: 100px;
  color: white;
  background-color: #725662;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 320px;
}